.maxwidth3.center
  %header.av8-header
    %img.logo{:src => image_path("aviatertc.svg"), :title => "AviateRTC 'Av8' logo graphic"}/
    %h1{ style: "font-size:1em;"}
      AviateRTC: Moderated Online Video Experience