.block
  = render "layouts/shared/public_header"


.maxwidth3.center

  %section
    - if current_user.present?
      = button_to "View All Episodes", episodes_path, method: :get


    - if current_user.blank?
      = link_to "Sign Up", new_user_registration_path, class: "button"
      = link_to "Log In", new_user_session_path, class: "button"