
# in use

AWS_REGION:
AWS_KEY:
AWS_SECRET:
AWS_BUCKET:

OPENTOK_KEY
OPENTOK_SECRET:

RECAPTCHA_PUBLIC_KEY: 
RECAPTCHA_PRIVATE_KEY:

# not used, but maybe later

PUSHER_APP_ID
PUSHER_KEY:
PUSHER_SECRET:
# PUSHER_CLUSTER

TWILIO_ACCOUNT_SID
TWILIO_API_KEY:
TWILIO_API_SECRET:
TWILIO_CONFIGURATION_SID:

