@import "config/variables";

.chat-thread-item{
  margin: 3px 0px;
  padding: 8px 5px;
  // width:200px;
  background: rgba(#00ff8a, 0.4);
  .avatar{

  }
  .message{
    .name{
      font-size:0.6em;
      opacity:0.5;
    }
    .content{

    }
  }
}



.episode-chat.state_inactive{
  display:none;
}

.episode-chat.state_active{
  display:block;
}