@import "config/variables";


.episode-controls{
  position:absolute;
  top:0px;
  right:0px;
  color:white;
  font-size: 0.8em;
  z-index: 800;

  .broadcast-status-icon{
    position:relative;
    border-radius:999px;
    width:8px;
    height:8px;
    display:inline-block;
   background: rgba(white, 1);
  }
  .broadcast-status-icon:after{
    content:"";
    position:absolute;
    top:-2px;
    left:-2px;
    width:12px;
    height:12px;
    border-radius:999px;
    border: 1px solid rgba(white, 1);
  }

  .control-menu{
    margin-bottom:20px;

    .menu-item{
      position:relative;
      cursor:pointer;
      display:inline-block;
      margin-right:20px;
      text-align:center;
      text-transform: uppercase;
      border-top:2px solid transparent;

      .icon{
        font-size:1em;
        margin: 10px 0px;
        opacity:0.4;
      }

      .title{
        font-size:0.6em;
        opacity:0.4;
      }

      .pending-count{
        background: $color1;
        border-radius: 999px;
        display: inline-block;
        font-size: 0.7em;
        padding: 3px 4px;
        color: black;
        position: absolute;
        top: 3px;
        left: 25px;
        font-weight: 600;
      }
    }
  }

  .menu-item.focused{
    .icon, .title{ opacity:1; }

    .icon-broadcast-state.live{
      opacity:1;
      color:#50ff50;
    }
    .icon-broadcast-state{
      opacity:1;
      color:$color1;
    }
    .icon-guest-state{
      opacity:1;
      color:#50ff50;
    }
  }

  .menu-item.in-line{
    .icon, .title{ opacity:1; }
    .icon-guest-state{
      opacity:1;
      color: rgba(yellow, 1);
    }

  }

  .menu-item:hover{
    border-top:2px solid #fff;
  }

  .episode-control-content{
    // display:none;
  }



  .episode-guest-list{

    width:220px;
    float: right;

    .guest-list-item{
      margin:2px 0px;

      .guest-info{
        cursor:pointer;
        background: rgba(white, 0.3);

        .avatar{
          height: 50px;
          width: 50px;
          float:left;
          margin-right:10px;
          overflow:hidden;
        }
        .identity{
          padding:5px 10px;
          // float:left;
          .email{
            font-size:0.7em;
            margin-top:3px;
          } 
        }
      }

      .guest-controls{
        background:rgba(white, 0.2);
        .menu-item{
          vertical-align: top;
          border:0px;
          text-align:center;
          display:inline-block;
          width:24.9%;
          padding:10px 0px;
          text-transform: uppercase;
          cursor:pointer;
          .icon{
            font-size:1em; 
            margin-bottom: 5px;
          }
          .title{
            font-size:0.7em; 
          }
        }

        .menu-item.deactivated{
          opacity: 0.2;
          cursor: default;
        }
      }
    }

    .guest-list-item.state_broadcasting{
      background: rgba(green, 0.5);
    }

    .guest-list-item.state_in_line{
      opacity:0.4;
    }

    .guest-list-item.focused{
      opacity:1;
    }

  }

  .episode-guest-list.state_inactive{
    display:none;
  }

  .episode-guest-list.state_active{
    display:block;
  }

}











.episodes-list{
  margin: 10px 0px;
  .episode{
    // padding:5px 10px;
    // border-bottom:1px solid rgba(black, 0.2);
  }
  .episode:last-child{
    // padding:5px 10px;
    // border-bottom:0px;
  }
}



.max-video-width{
  width:100%;
  max-width:1024px;
  margin-left:auto;
  margin-right:auto;
}

.episode-player{
  background:rgba(0,0,0,0.2) asset-url('video-standby.jpg') center center no-repeat;
  background-size: cover;
  overflow:hidden;
  position: relative;
}

.guest-stream{
  position: absolute;
  display: inline-block;
  background:rgba(black, 0.5);
  width:100%;
  height:10%; 
}

.stream-identity{
  position: absolute;
  color: #fff;
  bottom: 5px;
  left: 5px;
  text-shadow: 1px 1px #000;
  font-size: 0.6em;
}


#your-stream{
  position:absolute;
  bottom:0px;
  left:0px;
  width: 120px;
}




.episode-container{
  position:relative;
}

.episode-menu-inner{
  margin-top:20px;
  // background: rgba(#fff, 0.2);
  // min-width:300px;
}

.episode-menu{
  color:#fff;
  display: inline-block;
  position:absolute;
  z-index: 400;
  padding: 10px;
}

.menu-left{
  top:0px;
  left:0px;
}
.menu-right{
  top:0px;
  right:0px;
}





// OPENTOK OVERRIDES


.OT_bar, .OT_name, .OT_edge-bar-item, .OT_audio-level-meter, .OT_video-disabled-indicator{
  display:none !important;
}


