.max-video-width{
  width:100%;
  max-width:1024px;
  margin-left:auto;
  margin-right:auto;
}

.episode-player{
  background:rgba(0,0,0,0.2) asset-url('video-standby.jpg') center center no-repeat;
  background-size: cover;
  overflow:hidden;
  position: relative;
}

.guest-stream{
  position: absolute;
  display: inline-block;
  width:100%;
  height:10%;
  
}


#your-stream{
  position:absolute;
  bottom:0px;
  right:0px;
}

.fan-lis-item-preview{
  max-width: 100px !important;
  max-height: 80px !important;
  position: relative; 
}


.stream-identity{
  position: absolute;
  color: #fff;
  bottom: 5px;
  left: 5px;
  text-shadow: 1px 1px #000;
  font-size: 0.6em;
}